@use "../../global" as *;

.c-title {
  text-align: center;
}

.c-title__sub {
  color: $white;
  font-size: rm(18);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
}

.c-title__main {
  color: $white;
  font-family: $ff-en-reross;
  font-size: rm(48);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  padding-block: rm(16);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: rm(50);
    height: 1px;
    background: $white;
  }
}

