@use "../global" as *;

.l-inner {
  position: relative;
  width: 100%;
  max-width: px($pc-inner-sum);
  height: inherit;
  padding: 0 rm($pc-sidePadding);
  margin-inline: auto;

  @include mq(sp) {
    width: 100%;
    max-width: px($sp-inner-sum);
    padding: 0 rm($sp-sidePadding);
  }
}

.l-inner__narrow {
  max-width: rm($pc-narrow-inner);
  @include mq(sp) {
    padding: 0 rm($sp-sidePadding);
    max-width: px($sp-inner);
  }
}
