@use "../../global" as *;

.p-contact {
  padding-block: rm(130);
  background: url(../img/contact-img-bg.webp) no-repeat center center / cover;
}
.p-contact__headings {
}
.p-contact__heading-ja {
  color: $accent-color;
}
.p-contact__heading-en {
}
.p-contact__text {
  @include font(16, 400, 16, 0.48);
  line-height: normal;
  padding-block: rm(32) rm(51);
  text-align: center;
}
.p-contact__card {
  padding: rm(64) rm(50) rm(72) rm(50);
  background: $color-main;
  width: 100%;
  max-width: rm(800);
  margin-inline: auto;
  @include mq(sp) {
    padding: rm(64) rm(15);
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  row-gap: rm(32);
}
.contact__row {
  display: flex;
  flex-direction: column;
  row-gap: rm(4);
}
.contact__head {
  font-size: rm(18);
  line-height: normal;
  @include mq(sp) {
    font-size: rm(16);
    line-height: normal;
  }

  span.--must {
    position: relative;
    display: inline-block;
    &::after {
      content: "必須";
      position: absolute;
      top: calc(50% + 1px);
      translate: 0 -50%;
      left: calc(100% + 17px);
      font-size: rm(12);
      line-height: normal;
      display: inline-block;
      padding: 1px 7px 3px 8px;
      border-radius: 6px;
      background: $accent-color;
      white-space: nowrap;
      color: $white;
    }
  }
}

.contact__acceptance {
  text-align: center;
  @include font(18, 400, 27, 0.9);
  @include mq(sp) {
    @include font(16, 400, 24, 0.8);
  }
  a {
    color: $accent-color;
    text-decoration-line: underline;
  }
}
// ===================================
// 全体設定
// ===================================
input[type="text"],
input[type="email"],
select,
textarea {
  border-radius: 0;
  width: 100%;
  border: 1px solid $color-base;
  background: $white;
  padding: rm(13) rm(23);
  font-size: rm(16);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
  @include mq(sp) {
    padding: rm(16) rm(16);
  }
  &::placeholder {
    color: #bdbdbd;
  }
  &:hover,
  &:focus {
    border-color: $accent-color;
    box-shadow: 0 0 0 3px rgba($accent-color, 0.25);
  }
}

//テキストエリア
textarea {
  resize: vertical;
  height: rm(160);
}

// ===================================
// セレクトボックス
// ===================================
select {
  //矢印を消す
  -webkit-appearance: none;
  appearance: none;
}
.contact__select-wrap {
  position: relative;
}

// ===================================
// チェックボックス
// ===================================
//デフォルトのものを消す
input[type="checkbox"] {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
//チェックボックスカスタマイズ ====================
.contact__data-checkbox {
  span {
    display: inline-block;
    font-size: rm(18);
    line-height: normal;
    padding-left: rm(42);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: rm(-1.5);
      left: 0;
      width: rm(30);
      height: rm(30);
      border: 1px solid $color-base;
      background: $white;
      box-shadow: none;
      transition:
        border-color 0.3s ease,
        background-color 0.3s ease,
        box-shadow 0.3s ease;
    }
    &::after {
      content: "";
      position: absolute;
      top: rm(4);
      left: rm(11);
      width: rm(9);
      height: rm(15);
      rotate: 45deg;
      border-right: 1.5px solid $accent-color;
      border-bottom: 1.5px solid $accent-color;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  // 選択済み
  input[type="checkbox"]:checked + span::after {
    opacity: 1;
  }

  // マウスオーバー時
  input[type="checkbox"]:hover + span::before,
  input[type="checkbox"]:focus + span::before {
    // border-color: $accent-color;
    box-shadow: 0 0 0 3px rgba($accent-color, 0.25);
    background: $white;
  }

  // クリック時
  input[type="checkbox"]:active + span::before {
    border-color: $accent-color;
    background: rgba($accent-color, 0.15);
  }
}

// ===================================
// ラジオボタン
// ===================================
//デフォルトのものを消す
input[type="radio"] {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
//ラジオボタンカスタマイズ ====================
//選択された時の挙動
input[type="radio"]:checked + span {
}
//カスタマイズ
.contact__data-radio {
  //全体のcss

  //各項目のcss
  span {
    display: inline-block;

    position: relative;
    //frame
    &::before {
      content: "";
      position: absolute;
    }
    //active
    &::after {
      content: "";
      position: absolute;

      opacity: 0;
    }
  }
}

// ===================================
// 送信ボタン
// ===================================
//ブラウザによって異なるデフォルト設定を初期化
input[type="submit"],
input[type="button"] {
  border-radius: 0px;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  background: transparent;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
//ボタンを中央寄せに(ケースによる)
.row.jc-center {
  justify-content: center;
}

// 送信ボタンのカスタマイズ====================
.contact__submit {
  text-align: center;
  background: $accent-color;
  padding: rm(15);
  width: 100%;
  max-width: rm(239);
  margin-inline: auto;
  margin-block-start: rm(10);
  @include mq(sp) {
    max-width: rm(300);
  }
  input[type="submit"] {
    display: inline-block;
    color: $white;
  }
  transition:
    opacity 0.3s ease,
    background 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
  &:has(input[type="submit"]:disabled) {
    background: #BDBDBD;
    &:hover {
      opacity: 1;
    }
    input[type="submit"] {
      cursor: not-allowed;
    }
  }
}
// ===================================
// エラーメッセージ
// ===================================
.contact__error-message {
  color: red;
  font-weight: 700;
  font-size: rm(16);
  margin-top: rm(6);
}

//初期設定==================
button {
  background: none;
}
:where(dialog) {
  width: unset;
  max-width: unset;
  // height: unset;
  // max-height: unset;
  padding: unset;
  color: unset;
  background-color: unset;
  border: unset;
  overflow: unset;
}
body:has(dialog[open]) {
  overflow: hidden;
}
.wrapper:has(dialog[open]) {
  overflow-y: auto;
  scrollbar-gutter: stable; //スクロールバーのスペースを常に確保する
}
//ボタンのスタイル ============
.modal__open-btn {
  color: $accent-color;
  text-decoration-line: underline;
  cursor: pointer;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
}

.p-modal__headings {
  padding-block-end: rm(32);
}

.modal__text-body {
  display: flex;
  flex-direction: column;
  row-gap: rm(32);
}
.modal__text-item {
  color: #000;
  font-family: Roboto;
  @include font(18, 400, 20, 1.2);
  .text-title {
    font-weight: 700;
  }
  .text {
  }
}
//モーダルのスタイル ============
dialog {
  &::backdrop {
    opacity: 0;
    transition: background 0.3s ease-in-out;
  }
  &.js-show {
    &.modal__content {
      opacity: 1;
    }
    &::backdrop {
      opacity: 1;
      //背景画像
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(6px);
    }
  }
}
.modal__content {
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  //モーダル枠組みのスタイル
  width: min(rm(929), 95%);
  max-height: 80vh;
  background: #fff;
}
.modal__inner {
  overflow-y: scroll;
  // height: 100%;
  height: inherit;
  max-height: inherit;
  position: relative;
}
.modal__body {
  height: fit-content;
  padding: rm(35) rm(62) rm(100) rm(62);
  @include mq(sp) {
    padding: rm(35) rm(15) rm(100) rm(15);
  }
  //modal内のスタイル
  h3 {
  }
  p {
  }
}
//閉じるボタンのスタイル =========
.modal__close-btn {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  font-size: 30px;
}
