@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

@media screen and (max-width: 1119px) and (min-width: 768px) {
  html {
    font-size: calc(16 / 1120 * 100vw);
  }
}
@media screen and (max-width: 374px) {
  html {
    font-size: calc(16 / 375 * 100vw);
  }
}

body {
  color: #333;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: inherit;
}
@media (hover: hover) {
  a:hover {
    cursor: pointer;
  }
}

picture,
img,
a,
span {
  display: inline-block;
}

video,
img,
svg {
  width: 100%;
  height: 100%;
}

button {
  font: inherit;
  color: inherit;
  background: transparent;
  background: none;
  border: none;
}

input,
textarea,
select {
  font: inherit;
}

@media (min-width: 768px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
.l-main {
  -webkit-padding-before: 4.5rem;
          padding-block-start: 4.5rem;
  min-height: 100vh;
}

.l-inner {
  position: relative;
  width: 100%;
  max-width: 1120px;
  height: inherit;
  padding: 0 2.5rem;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .l-inner {
    width: 100%;
    max-width: 632px;
    padding: 0 1rem;
  }
}

.l-inner__narrow {
  max-width: 50rem;
}
@media screen and (max-width: 767px) {
  .l-inner__narrow {
    padding: 0 1rem;
    max-width: 600px;
  }
}

.c-animated__fadeIn {
  translate: 0 20px;
  opacity: 0;
}
.c-animated__fadeIn.js-show {
  translate: 0;
  opacity: 1;
}

<<<<<<< HEAD
.c-title {
  text-align: center;
=======
.c-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
>>>>>>> main
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}

<<<<<<< HEAD
.c-title__sub {
  color: #159741;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 767px) {
  .c-title__sub {
    font-size: 0.875rem;
    letter-spacing: 0.7px;
  }
}

.c-title__main {
  color: #ffffff;
  font-family: "reross-quadratic", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  padding-block: 1rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .c-title__main {
    font-size: 2rem;
    letter-spacing: 1.6px;
    padding-block: 0.75rem;
  }
}
.c-title__main::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3.125rem;
  height: 2px;
  background: #159741;
=======
.c-headings__ja {
  font-size: max(1.125rem, 14.4px);
}
@media screen and (max-width: 767px) {
  .c-headings__ja {
    font-size: 1.125rem;
  }
}
.c-headings__ja {
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  font-family: "Noto Sans JP", sans-serif;
  line-height: normal;
}

.c-headings__en {
  font-size: max(3rem, 38.4px);
}
@media screen and (max-width: 767px) {
  .c-headings__en {
    font-size: 3rem;
  }
}
.c-headings__en {
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  line-height: normal;
  font-family: "reross-quadratic", sans-serif;
  text-transform: capitalize;
  position: relative;
}
.c-headings__en::after {
  content: "";
  position: absolute;
  width: 3.125rem;
  height: 0.125rem;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.c-headings__en.--line-green::after {
  background-color: #159741;
}
.c-headings__en.--line-white::after {
  background-color: #ffffff;
>>>>>>> main
}

.p-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-inline: 2rem 4.4375rem;
  background: #2f2f2f;
}
@media screen and (max-width: 767px) {
  .p-header {
    padding-inline: 1rem;
  }
}

.p-header__inner {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 7.3125rem 1fr;
  padding-block: 0.875rem 0.75rem;
}
@media screen and (max-width: 767px) {
  .p-header__inner {
    grid-template-columns: 3.4375rem 1fr;
    padding-block: 0.9375rem;
  }
}

.p-header__logo {
  width: 7.3125rem;
  height: auto;
  aspect-ratio: 117/63;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media screen and (max-width: 767px) {
  .p-header__logo {
    width: 3.4375rem;
    aspect-ratio: 55/29;
  }
}
@media (any-hover: hover) {
  .p-header__logo:hover {
    opacity: 0.8;
  }
}
.p-header__logo img {
  width: 100%;
  height: 100%;
}

.p-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.p-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media screen and (max-width: 767px) {
  .p-header__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.p-header__list li a {
  font-family: "reross-quadratic", sans-serif;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03375rem;
  font-size: max(1.125rem, 14.4px);
}
@media screen and (max-width: 767px) {
  .p-header__list li a {
    font-size: 1.125rem;
  }
}
.p-header__list li a {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-header__list li a {
    font-size: 0.875rem;
    letter-spacing: 0.02625rem;
  }
}
@media (any-hover: hover) {
  .p-header__list li a:hover::after {
    opacity: 1;
  }
}
.p-header__list li a::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: #159741;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.p-drawer__icon {
  position: fixed;
  z-index: 102;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 17px;
  right: 20px;
  width: 24px;
  height: 16px;
}
@media (min-width: 768px) {
  .p-drawer__icon {
    display: none;
  }
}

.p-drawer__icon--bar {
  width: 100%;
  height: 1px;
  background: #000;
}

.p-drawer__icon.js-show .p-drawer__icon--bar:nth-of-type(1) {
  rotate: 45deg;
  translate: 0 7.5px;
}
.p-drawer__icon.js-show .p-drawer__icon--bar:nth-of-type(2) {
  display: none;
}
.p-drawer__icon.js-show .p-drawer__icon--bar:nth-of-type(3) {
  rotate: -45deg;
  translate: 0 -7.5px;
}

.p-drawer {
  position: fixed;
  z-index: 101;
  overflow-y: scroll;
  top: 0;
  right: 0;
  width: 278px;
  height: 100vh;
  height: 100svh;
  background: #b6e7f3;
}

.p-drawer__icon--bar {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.p-drawer {
  translate: 101%;
  -webkit-transition: translate 0.5s ease;
  transition: translate 0.5s ease;
}
.p-drawer.js-show {
  translate: 0;
}

.p-drawer__body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-block: 88px 40px;
  padding-left: 34px;
}

.p-drawer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  margin-bottom: 40px;
}
.p-drawer__list li a {
  font-size: 20px;
  font-weight: 400;
}

.p-drawer__btn {
  display: inline-block;
  padding: 6px 30px;
  background: #fff;
  font-size: 20px;
  font-weight: 400;
}

.p-test {
  padding-block: 7.5rem;
}
@media screen and (max-width: 767px) {
  .p-test {
    padding-block: 4.375rem;
  }
}

.p-test__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .p-test__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}

.p-test__title {
  font-size: max(3.125rem, 40px);
}
@media screen and (max-width: 767px) {
  .p-test__title {
    font-size: 3.125rem;
  }
}
.p-test__title {
  font-weight: 700;
  line-height: 0.94;
  letter-spacing: 0em;
  text-transform: uppercase;
  font-family: "reross-quadratic", sans-serif;
}

.p-test__text {
  -webkit-margin-before: 2.5rem;
          margin-block-start: 2.5rem;
  font-size: max(1.75rem, 22.4px);
}
@media screen and (max-width: 767px) {
  .p-test__text {
    font-size: 1.75rem;
  }
}
.p-test__text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  font-family: "Satisfy", cursive;
}

.p-test__text-wrap {
  width: min(25rem, 100%);
}

.p-test__img {
  width: min(37.5rem, 100%);
  height: auto;
}

<<<<<<< HEAD
.inner {
  max-width: 67.5rem;
  margin-inline: auto;
}

.p-menu__section {
  background-color: #2f2f2f;
  position: relative;
  padding-inline: 11.1875rem;
  padding-block: 9.5rem 10.75rem;
}
@media screen and (max-width: 767px) {
  .p-menu__section {
    padding-inline: 1rem;
    padding-block: 3.5rem;
  }
}
.p-menu__section::after {
  content: "";
  position: absolute;
  inset: 4.5rem;
  border: 1px solid #ffffff;
}
@media screen and (max-width: 767px) {
  .p-menu__section::after {
    top: 1.5rem;
    right: 1rem;
    bottom: 1.5rem;
    left: 1rem;
  }
}

.p-menu__nutrition {
  margin-top: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.54px;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .p-menu__nutrition {
    margin-top: 3rem;
    font-size: 1rem;
    letter-spacing: 0.48px;
  }
}

.p-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3.375rem;
}
@media screen and (max-width: 767px) {
  .p-menu__wrapper {
    margin-top: 3rem;
  }
}

.p-menu__wrap-top {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 65.1875rem;
  margin-inline: 3.75rem 4.25rem;
  grid-template-columns: minmax(0, 451fr) minmax(0, 592fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media screen and (max-width: 767px) {
  .p-menu__wrap-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: none;
    height: 37.125rem;
    margin-inline: auto;
  }
}

.p-menu__recommend-img {
  width: 100%;
  min-width: 0;
  aspect-ratio: 451/445;
  z-index: 10;
}
.p-menu__recommend-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  .p-menu__recommend-img {
    width: 100%;
    height: auto;
  }
  .p-menu__recommend-img img {
    height: auto;
    -o-object-fit: unset;
       object-fit: unset;
  }
}

.p-menu__recommend-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  min-width: 0;
  position: relative;
  container-type: inline-size;
  margin-left: -15.2027027027%;
  margin-top: 3.1875rem;
  padding-block: 19.0878378378% 7.6013513514%;
}
@media screen and (max-width: 767px) {
  .p-menu__recommend-card {
    width: 18.75rem;
    height: 20.1875rem;
    margin-top: 0;
    margin-left: 0;
    padding-block: 7.0625rem 2.8125rem;
  }
}

.p-menu__title {
  font-size: 1.875rem;
  letter-spacing: 0.1875rem;
}
@media screen and (max-width: 767px) {
  .p-menu__title {
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.15rem;
  }
}

.p-menu__price {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  padding-left: 1.5625rem;
  margin-top: 1.25rem;
}
@media screen and (max-width: 767px) {
  .p-menu__price {
    font-size: 1.875rem;
    letter-spacing: 0.1875rem;
    margin-top: 1rem;
  }
}
.p-menu__price::before {
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}
@media screen and (max-width: 767px) {
  .p-menu__price::before {
    font-size: 1rem;
    letter-spacing: 0.1125rem;
  }
}
.p-menu__price::after {
  font-size: 1.125rem;
  letter-spacing: 0.1125rem;
}
@media screen and (max-width: 767px) {
  .p-menu__price::after {
    font-size: 0.75rem;
    letter-spacing: 0.075rem;
  }
}

.p-menu__text {
  font-size: min(1.5rem, 4.0540540541cqw);
  font-weight: 400;
  line-height: normal;
  letter-spacing: min(0.045rem, 0.1216216216cqw);
  margin-top: min(1.6875rem, 4.5608108108cqw);
  padding-inline: min(4.75rem, 12.8378378378cqw);
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .p-menu__text {
    font-size: 0.875rem;
    letter-spacing: 0.02625rem;
    margin-top: 1rem;
    padding-inline: 0;
    white-space: normal;
  }
}

.p-menu__recommend-tag {
  background: #159741;
  width: 15.6875rem;
  color: #ffffff;
  padding-block: 0.5625rem 0.875rem;
  margin-bottom: 2.1875rem;
  margin-inline: auto;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  .p-menu__recommend-tag {
    width: 13.1875rem;
    padding-block: 2.375rem 1rem;
    margin-bottom: 1.5rem;
  }
}

.p-menu__recommend-tag-text {
  font-family: "Satisfy", cursive;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.02625rem;
}
@media screen and (max-width: 767px) {
  .p-menu__recommend-tag-text {
    font-size: 0.75rem;
    letter-spacing: 0.0225rem;
  }
}

.p-menu__recommend-tag-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.045rem;
}
@media screen and (max-width: 767px) {
  .p-menu__recommend-tag-title {
    font-size: 1.125rem;
    letter-spacing: 0.03375rem;
  }
}

.p-menu__title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
}
@media screen and (max-width: 767px) {
  .p-menu__title {
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 2.4px;
  }
}

.p-menu__price {
  font-family: "reross-quadratic", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 4px;
  padding-left: 1.5625rem;
  margin-top: 1.25rem;
}
@media screen and (max-width: 767px) {
  .p-menu__price {
    font-size: 1.875rem;
    letter-spacing: 3px;
    margin-top: 1rem;
  }
}
.p-menu__price::before {
  content: "¥";
  font-family: "reross-quadratic", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
}
@media screen and (max-width: 767px) {
  .p-menu__price::before {
    font-size: 1rem;
    letter-spacing: 1.8px;
  }
}
.p-menu__price::after {
  content: "（税込）";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.8px;
}
@media screen and (max-width: 767px) {
  .p-menu__price::after {
    font-size: 0.75rem;
    letter-spacing: 1.2px;
  }
}

.p-menu__wrap-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-top: 3.625rem;
}
@media screen and (max-width: 767px) {
  .p-menu__wrap-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3rem;
    gap: 3rem;
  }
}

.p-menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  width: 100%;
  height: 39.875rem;
}
@media screen and (max-width: 767px) {
  .p-menu__wrap {
    height: 30.25rem;
    padding-inline: 0.9375rem 1.4375rem;
  }
}

.p-menu__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  container-type: inline-size;
  padding-block: 4.5625rem 2.625rem;
}
@media screen and (max-width: 767px) {
  .p-menu__card {
    padding-block: 3.625rem 2.625rem;
    padding-left: 0.4375rem;
  }
}

.p-menu__img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 27.125rem;
  z-index: 10;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-menu__img {
    width: 19.0625rem;
    height: 19.8125rem;
  }
}
.p-menu__img img {
  width: 26.0625rem;
}
@media screen and (max-width: 767px) {
  .p-menu__img img {
    width: 19.25rem;
  }
}

.p-menu__insta {
  padding-inline: 3.875rem;
  margin-top: 5rem;
  text-align: center;
  padding-bottom: 2.25rem;
}
@media screen and (max-width: 767px) {
  .p-menu__insta {
    padding-inline: 1.3125rem;
    margin-top: 3rem;
    padding-bottom: 2.125rem;
    margin-inline: 1.5625rem 1.125rem;
  }
}

.p-menu__tag {
  background: #159741;
  color: #ffffff;
  font-family: "reross-quadratic", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
  padding-block: 1.125rem 1.1875rem;
  width: 22.5rem;
  margin-inline: auto;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .p-menu__tag {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    padding-block: 0.625rem 0.6875rem;
    width: 11.5625rem;
  }
}

.p-menu__insta-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
  margin-top: 1.75rem;
}
.p-menu__insta-text::before {
  content: "";
}
@media screen and (max-width: 767px) {
  .p-menu__insta-text {
    font-size: 1rem;
    letter-spacing: 0.8px;
    margin-top: 1.5rem;
  }
}

.p-menu__insta-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-top: 2.125rem;
}
@media screen and (max-width: 767px) {
  .p-menu__insta-imgs {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 0.625rem;
    margin-top: 1.5rem;
  }
}

.p-menu__insta-id {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.5rem;
}
@media screen and (max-width: 767px) {
  .p-menu__insta-id {
    font-size: 1rem;
  }
}

.p-menu__btn {
  padding: 1.0625rem 1rem;
  width: 18.75rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 1.625rem;
  border: 1px solid #2f2f2f;
}
@media screen and (max-width: 767px) {
  .p-menu__btn {
    width: 16.25rem;
    margin-inline: auto;
    margin-top: 1.5rem;
  }
}

.p-menu__recommend-card,
.p-menu__card,
.p-menu__insta {
  background: #f2f2f2;
  position: relative;
}
.p-menu__recommend-card::after,
.p-menu__card::after,
.p-menu__insta::after {
  content: "";
  position: absolute;
  inset: 0.8125rem;
  z-index: 1;
  border: 1px solid #333;
}
@media screen and (max-width: 767px) {
  .p-menu__recommend-card::after,
  .p-menu__card::after,
  .p-menu__insta::after {
    inset: 0.625rem;
  }
=======
.p-contact {
  padding-block: 8.125rem;
  background: url(../img/contact-img-bg.webp) no-repeat center center/cover;
}

.p-contact__heading-ja {
  color: #159741;
}

.p-contact__text {
  font-size: max(1rem, 12.8px);
}
@media screen and (max-width: 767px) {
  .p-contact__text {
    font-size: 1rem;
  }
}
.p-contact__text {
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.03em;
  line-height: normal;
  padding-block: 2rem 3.1875rem;
  text-align: center;
}

.p-contact__card {
  padding: 4rem 3.125rem 4.5rem 3.125rem;
  background: #f2f2f2;
  width: 100%;
  max-width: 50rem;
  margin-inline: auto;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.25rem;
}

.contact__head {
  font-size: 1.125rem;
  line-height: normal;
}
.contact__head span.--must {
  position: relative;
  display: inline-block;
}
.contact__head span.--must::after {
  content: "必須";
  position: absolute;
  top: calc(50% + 1px);
  translate: 0 -50%;
  left: calc(100% + 17px);
  font-size: 0.75rem;
  line-height: normal;
  display: inline-block;
  padding: 1px 7px 3px 8px;
  border-radius: 6px;
  background: #159741;
  white-space: nowrap;
  color: #ffffff;
}

input[type=text],
input[type=email],
select,
textarea {
  border-radius: 0;
  width: 100%;
  border: 1px solid #2f2f2f;
  background: #ffffff;
  padding: 0.8125rem 1.4375rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #bdbdbd;
  height: 10rem;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #bdbdbd;
  height: 10rem;
}
input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #bdbdbd;
  height: 10rem;
}
input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #bdbdbd;
  height: 10rem;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
select::placeholder,
textarea::placeholder {
  color: #bdbdbd;
  height: 10rem;
}

textarea {
  resize: vertical;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.contact__select-wrap {
  position: relative;
}

input[type=checkbox] {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type=checkbox]:checked + span::after {
  opacity: 1;
}

.contact__data-checkbox span {
  display: inline-block;
  position: relative;
}
.contact__data-checkbox span::before {
  content: "";
  position: absolute;
}
.contact__data-checkbox span::after {
  content: "";
  position: absolute;
  opacity: 0;
}

input[type=radio] {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.contact__data-radio span {
  display: inline-block;
  position: relative;
}
.contact__data-radio span::before {
  content: "";
  position: absolute;
}
.contact__data-radio span::after {
  content: "";
  position: absolute;
  opacity: 0;
}

input[type=submit],
input[type=button] {
  border-radius: 0px;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  background: transparent;
}

input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}

.row.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__submit {
  text-align: center;
}
.contact__submit input[type=submit] {
  display: inline-block;
>>>>>>> main
}

@media (min-width: 768px) {
  .u-sp {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .u-pc {
    display: none !important;
  }
}
.u-text__center {
  text-align: center !important;
}
@media screen and (max-width: 767px) {
  .u-text__center--sp {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .u-text__center--pc {
    text-align: center !important;
  }
}

.u-text__left {
  text-align: left !important;
}
@media screen and (max-width: 767px) {
  .u-text__left--sp {
    text-align: left !important;
  }
}
@media (min-width: 768px) {
  .u-text__left--pc {
    text-align: left !important;
  }
}

.u-text__right {
  text-align: right !important;
}
@media screen and (max-width: 767px) {
  .u-text__right--sp {
    text-align: right !important;
  }
}
@media (min-width: 768px) {
  .u-text__right--pc {
    text-align: right !important;
  }
}

.u-text__nowrap {
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .u-text__nowrap--sp {
    white-space: nowrap;
  }
}
@media (min-width: 768px) {
  .u-text__nowrap--pc {
    white-space: nowrap;
  }
}

.u-pointer__none {
  pointer-events: none !important;
}
@media screen and (max-width: 767px) {
  .u-pointer__none--sp {
    pointer-events: none !important;
  }
}
@media (min-width: 768px) {
  .u-pointer__none--pc {
    pointer-events: none !important;
  }
}